<section class="contact-container">
  <div class="row">
    <h2 class="margin-m">Contactez-moi</h2>
    <p class="margin-l">Envie de tester un moment de bien-être ?<br> Contactez moi pour en savoir plus sur mes prestations, ou prendre rendez-vous....</p>

    <div class="flexbox contact-details">
      <div class="h5 margin-m">
        <i class="fa-solid fa-at"></i>
        <p>
          <a href="mailto:" title="">contact@cocon.fr</a>
        </p>
      </div>
      
      <div class="h5 margin-m">
        <i class="fa-solid fa-paper-plane"></i>
        <p>
          Je me deplace<br>
          <span class="caption">Pays de Vannes & Auray</span>
        </p>
      </div>
      <div class="h5">
        <i class="fa-solid fa-phone"></i>
        <p>
          <a href="tel:" title="">06 15 81 70 09</a><br>
          <span class="caption">Du lundi au samedi, de 9h00 à 16h00.</span>
        </p>
      </div>
    </div>
  </div>
</section>