{% block header %} 
  <div class="row">
    <a href="{{ site.url }}" rel="home" title="{{ site.name }}" class="logo" role="banner">
      <img src="/wp-content/uploads/cocon-logo.png" alt="{{ site.name }}" width="100">
    </a>

    <nav id="nav-main" class="nav-main" role="navigation">

      <label for="open-mobile-menu" class="mobile-menu"><i class="fa-solid fa-bars"></i></label>
      <input type="checkbox" id="open-mobile-menu" name="mobile-menu" />

      {% include "menu.twig" with { 'type': main_menu } %}      
    </nav>
  </div>
{% endblock %}

